<body>
<div class="align-content-center">
  <div class="h1">
    <img src="../../assets/hi.jpg" size="cover">
    <div class="centered"><h1> Welcome to Online shopping center <i class="fa fa-home">
    </i></h1>
    </div>
  </div>

</div>
<style>
  div.h1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  div.centered{
    position: absolute;
    color: azure;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<div class="r1">
  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Admin & Tools Settings</div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text">Add new Tools Change System Settings & reset , other</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header" routerLink="/users" routerLinkActive="active">Users</div>
          <div class="card-body">
            <!--<h4 class="card-title">Secondary card title</h4>-->
            <p class="card-text">Access Users change update & other tools..</p>
          </div>
        </div>
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
          <div class="card-header" routerLink="/items" routerLinkActive="active">Items</div>
          <div class="card-body">
            <!--<h4 class="card-title"></h4>-->
            <p class="card-text">Access Items change update & other tools..</p>
          </div>
        </div>
      </div>
      <div class="r2">
        <div class="bs-component">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Orders</div>
            <div class="card-body">
              <!--<h4 class="card-title">Primary card title</h4>-->
              <p class="card-text">Access Orders change update & other tools..</p>
            </div>
          </div>
          <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header" routerLink="/place-order" routerLinkActive="active">PlaceOrder</div>
            <div class="card-body">
              <!--<h4 class="card-title">Secondary card title</h4>-->
              <p class="card-text">Access Place new Order change update & other tools..</p>
            </div>
          </div>
          <div class="modal-footer">
            <div class="copyright">
              &copy; Copyright <strong>ijse.lk</strong>. All Rights Reserved
            </div>
            <div class="social-links">
              <a href="https://twitter.com/login" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://en-gb.facebook.com/login/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/accounts/login/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://plus.google.com/up/?continue=https://plus.google.com/people" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="https://www.linkedin.com/uas/login" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</div>

</body>
