
<div class="col-md-6 col-12">
  <table id="tblItems" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Code</th>
      <th>discription</th>
      <th>Unic Price</th>
      <th>QtyOnHand</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td>
        <i class="fa fa-trash fa-2x"></i>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
      </td>
    </tr>
    </tfoot>
  </table>
</div>
