<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="jumbotron">
  <h1>Place Order <i class="fa fa-first-order"></i></h1>
  <h4>Start place order Session here..</h4>
  <style>
    div.jumbotron{
      text-align: center;
      background: #516990;
      color: white;
    }
  </style>
</div>
<form class="is-valid">
  <div class="card-body">
<form #frmPlace="ngForm" (ngSubmit)="addOrder()" class="is-valid" novalidate>
<div class="row">
  <div class="col-md-4">
    <label for="countrys">User ID</label>
    <select  (change)="searchUser($event)" class="custom-select d-block w-100" id="countrys" required>
      <option  value="">Choose...</option>
      <option  *ngFor="let user of users" >{{user.userId}}</option>
    </select>
    <div>
      <br>
    <a>
      <div class="col-md-6 col-12">
      <table id="tblItems" class="table table-bordered table-hover">
      <thead>
      <tr>
      <th>Code</th>
      <th>Desc</th>
      <th>UnitPrice</th>
      <th>Quantity</th>
      <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let Selected of selectedItems">
      <td>{{Selected.item.code}}</td>
      <td>{{Selected.item.discription}}</td>
      <td>{{Selected.item.unitPrice}}</td>
      <td>{{Selected.quantity}}</td>
      <td>
      <i class="fa fa-trash fa-2x"></i>
      </td>

      </tr>
      </tbody>
      <tfoot>
      <tr>
      <td colspan="4">
      </td>
      </tr>
      </tfoot>
      </table>
      </div>
    </a>
    </div>
  </div>
  <form #frmPlac="ngForm"  >
    <div class="col-md-5 mb-3">
      <label for="code">Item Code</label>
      <select (change)="searchItems" class="custom-select d-block w-100" id="code"  name="code" required>
        <option  value="">Choose...</option>
        <option *ngFor="let item of items" >{{item.code}}</option>
      </select>
    </div>
    <div  class="row" >
      <div class="col-md-5 mb-3">
        <label for="description">Item Description</label>
        <input  type="text" class="form-control" id="description" placeholder="" name="desc" [(ngModel)]="searchedItems.discription" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="unitPrice">Unit Price</label>
        <input type="text" class="form-control" id="unitPrice" placeholder="" name="Price" [(ngModel)]="searchedItems.unitPrice" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="QtyOnHand">Qty On Hand</label>
        <input  type="text" class="form-control" id="QtyOnHand" placeholder="" name="qty" [(ngModel)]="searchedItems.QtyOnHand" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="qty">Quantity</label>
        <input #qty type="text" class="form-control" id="qty" placeholder="" name="qty" required>
      </div>
    </div>
    <div class="col-md-3 offset-md-3"></div>
    <div class="col-md-3 offset-md-3"></div>
    <div></div>
    <div class="row">
      <div class="col-md-3 offset-md-3"></div>
      <div class="col-md-3 offset-md-3">
        <label for="total"><h3>Total</h3></label>
        <input type="text" class="form-control" id="total" placeholder="" name="total" value="{{maintotal}}" required>
      </div>
    </div>
  </form>
  <div class="col-md-4 offset-md-4">
    <label for="orderDate">Order Date</label>
    <input #orderDate type="text" class="form-control" id="orderDate" placeholder="Order Date" value=" " required>

    <label for="orderId">Order ID</label>
    <input #ordorderId type="text" class="form-control" id="orderId" placeholder="Order ID" value=" " required>

    <label for="userName">User Name</label>
    <input type="text" class="form-control" id="userName" placeholder=""  name="name" [(ngModel)]="searchedUsers.userName" required>
  </div>
  </div>
    <div class="modal-footer">
      <div class="clearfix">
        <button type="submit" class="btn btn-primary" (click)="selectDetails()">Add Order</button>
        <br>

      <style>
        div.clearfix {
          text-align: center;
          background-color: whitesmoke;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
          opacity: 0.9;
        }
      </style>
  </div>
  <div>
  </div>
    </div>
</form>
  </div>
  <hr class="mb-4">
  <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
</form>
<button routerLink="/main" routerLinkActive="active" type="reset" class="btn btn-danger btn-lg btn-block">Cancel Add Order</button>
<br>
<div class="copyright">
  &copy; Copyright <strong>ijse.lk</strong>. All Rights Reserved
</div>
</body>
</html>
