<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="jumbotron">
  <h1>Place Order <i class="fa fa-first-order"></i></h1>
  <h4>Start place order Session here..</h4>
  <style>
    div.jumbotron{
      text-align: center;
      background: #516990;
      color: white;
    }
  </style>
</div>
  <div class="card-body">
    <p class="form-group">
      <label for="txtcode">Code :-</label>
      <span class="fa fa-code form-control-feedback"></span>
      <input name="text" class="form-control" placeholder="Code" id="txtcode">
    </p>
  </div>
</body>
</html>
